@model AspNet.Legacy.InterfaceViewModel.Models.AddressViewModel

<h5>Address</h5>
<p><strong>City:</strong> @Model.City</p>
<p><strong>State/province/region:</strong> @Model.State</p>
<p><strong>ZipCode:</strong> @Model.ZipCode</p>
<p><strong>Country:</strong> @Model.Country</p>